<div>
    <div>
    <img src="/images/beer.png" alt="beer-logo">
    </div>
    <div>
        <a class="button-beers" href="/beers">Check the Beers!</a>
        <a class="button-random" href="/random-beer">Check a Random Beer!</a>
    </div>
</div>